/* GENERAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif Caption', serif;
}


/* NAVBAR STYLES */

.navbar {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    /* height: 200px; */
    background-color: #a0041d;
}

.logo {
    height: 57px;
    width: 57px;
    margin: -5px auto 0 auto;
    align-self: flex start;
    /* border: 1px solid black; */
    margin-bottom: 11px;
}

.links {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    /* margin: 0 10px; */
}

.links a {
    padding: 0 11px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

/* SECTION STYLES */

section img {
    width: 100%;
}

/* HOW IT WORKS DIV */

.how-it-works {
    text-align: center;
}

.how-it-works h1 {
    font-size: 36px;
    margin: 23px 0;
}

.step-imgs {
    margin: 36px 0;
}

.step-imgs img{
    width: 248px;
    height: 237px;
    border-radius: 50%;
    margin: 0 61px;
}

.search-restaurant {
    display: flex;
    justify-content: center;
    margin: 95px 0;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 80px 0;
}

.search-restaurant h1 {
    height: 31px;
    margin: 15px 39px 0px 39px;
}

.search-bar > .search {
    height: 31px;
    width: 321px;
    margin: 20px 39px;
}

.search-submit > .submit {

    height: 34px;
    width: 127px;
    font-size: 21px;
    background-color: rgba(0,0,0,0.0);
    margin: 20px 39px;
    border-radius: 3px;
    font-size: 24px;
    cursor: pointer;
}

.search-submit > .submit:hover {
    background-color: #a0041d;
    transition: ease-in 500ms;
    color: #fff;
    cursor: pointer;
}

/* RESTAURANT LIST STYLES */

.restaurant-list {
    width: 100%;
}

.restaurant-list h1 {
    text-align: center;
    font-size: 36px;
}

#restaurants-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    font-size: 24px;
    /* border: 1px solid black; */
}

#restaurants-info h1 {
    margin: 21px 0;
    color: #a0041d;
}

#restaurants-info img {
    width: 200px;
    height: 200px;
    margin: 21px 0;
}

#restaurants-info > .address {
    margin: 21px 0;
}

#restaurants-info > .categories {
    margin: 21px 0;
}

#restaurants-info > .rating {
    margin: 21px 0;
}

hr {
    width: 70%;
    margin: 0 auto;
}

/* CALCULATE NUTRIENTS STYLES */

#calculate-nutrients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 40px 0;
    border: 1px solid black;
}

#calculate-nutrients > h1 {
    margin: 0 auto;
    font-size: 36px;
}

.nutrient-input {
    display: flex;
    justify-content: baseline;
}

#user-intake {
    height: 34px;
    width: 348px;
    padding-left: 5px;
}

#user-intake::placeholder {
    font-size: 21px;

}

#intake-submit {
    height: 34px;
    width: 127px;
    font-size: 21px;
    background-color: rgba(0,0,0,0.0);
    cursor: pointer;
    margin: 0 10px;
    border-radius: 3px;
}

#intake-submit:hover {
    background-color: #a0041d;
    transition: ease-in 500ms;
    color: #fff;
    font-size: 21px;
}

/* NUTRIENT FACTS STYLES */

.nutrient-facts {
    display: flex;
    text-align: center;
}

.nutrient-facts h1 {
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #a0041d;
    padding: 30px 0;
}

footer h1 {
    margin: 0 auto;
    font-size: 48px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.social-links img {
    width: 27px;
    height: 27px;
    margin: 0 11px;
}