/* GENERAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif Caption', serif;
}


/* NAVBAR STYLES */

.navbar {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background-color: #a0041d;
}

.logo {
    height: 57px;
    width: 57px;
    margin: -5px auto 0 auto;
    align-self: flex start;
    margin-bottom: 11px;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    padding: 0 11px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

/* SECTION STYLES */

section img {
    width: 100%;
}

/* HOW IT WORKS DIV */

.how-it-works {
    text-align: center;
}

.how-it-works h1 {
    font-size: 36px;
    margin: 23px 0;
}

.step-imgs {
    margin: 36px 0;
}

.step-imgs img{
    width: 248px;
    height: 237px;
    border-radius: 50%;
    margin: 0 61px;
}

.search-restaurant {
    display: flex;
    flex-direction: column;
}

.search-restaurant h1 {
    font-size: 31px;
    margin: 0 auto;
    text-align: center;
}

.search-bar {
    margin: 40px auto;
}

.search-bar > .search {
    height: 31px;
    border: 1px solid black;
    padding-left: 5px;
    width: 321px;
}

.search-submit {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-submit > .submit {

    height: 34px;
    width: 321px;
    font-size: 21px;
    background-color: rgba(0,0,0,0.0);
    border-radius: 3px;
    font-size: 24px;
    cursor: pointer;
}

.search-submit > .submit:hover {
    background-color: #a0041d;
    transition: ease-in 500ms;
    color: #fff;
    cursor: pointer;
}

/* RESTAURANT LIST STYLES */

.restaurant-list {
    width: 70%;
    border: 1px solid black;
    margin: 40px auto;
    overflow: scroll;
    height: 500px;
}

#display-restaurants {
    width: 100%;
}

main {
    margin-bottom: 150px;
}

.restaurant-list h1 {
    text-align: center;
    font-size: 36px;
}

#restaurants-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 0;
    font-size: 24px;
}

#restaurants-info h1 {
    margin: 21px 0;
    color: #a0041d;
}

#restaurants-info img {
    width: 200px;
    height: 200px;
    margin: 21px 0;
}

#restaurants-info > .address {
    margin: 21px 0;
}

#restaurants-info > .categories {
    margin: 21px 0;
}

#restaurants-info > .rating {
    margin: 21px 0;
}

hr {
    width: 70%;
    margin: 0 auto;
}

/* CALCULATE NUTRIENTS STYLES */

#calculate-nutrients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 40px 0;
}

#calculate-nutrients > h1 {
    text-align: center;
    font-size: 36px;
}

.nutrient-input {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

#user-intake {
    height: 34px;
    width: 398px;
    padding-left: 5px;
}

#user-intake::placeholder {
    font-size: 21px;
}

#intake-submit {
    height: 34px;
    width: 127px;
    font-size: 21px;
    background-color: rgba(0,0,0,0.0);
    cursor: pointer;
    margin: 0 10px;
    border-radius: 3px;
}

#intake-submit:hover {
    background-color: #a0041d;
    transition: ease-in 500ms;
    color: #fff;
    font-size: 21px;
}

/* NUTRIENT FACTS STYLES */

.nutrient-facts {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nutrient-facts h1 {
    margin: 0 auto;
}

#display-facts {
    margin-top: 45px;
}

.main-content {
    flex: 1 0 auto;
    /* max-height: 500px; */
}

footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #a0041d;
    padding: 30px 0;
}

footer h1 {
    margin: 0 auto;
    font-size: 48px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.social-links img {
    width: 27px;
    height: 27px;
    margin: 0 11px;
}


/* ABOUT PAGE STYLES */

.about-page {
    text-align: center;
    margin: 180px auto 0 auto;
    width: 70%;
}


/* CONTACT FORM PAGE */

.contact-app {
    width: 70%;
    margin: 100px auto 0 auto;
}

input[type=text], input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  input[type=submit] {
    background-color: #a0041d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #a0041d;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    /* HOW IT WORKS DIV */

    .how-it-works {
        text-align: center;
    }

    .how-it-works h1 {
        font-size: 36px;
        margin: 23px 0;
    }

    .step-imgs {
        margin: 36px 0;
    }

    .step-imgs img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 30px 10px;
    }

    .contact-app {
        width: 100%;
        margin: 100px auto 0 auto;
    }

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .contact-app {
        width: 100%;
        margin: 280px auto 0 auto;
    }

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .contact-app {
        width: 100%;
        margin: 100px auto 0 auto;
    }

}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .contact-app {
        width: 100%;
        margin: 100px auto 0 auto;
    }

}



/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .contact-app {
        width: 100%;
        margin: 100px auto 0 auto;
    }

}


